<div class="container">
  <!-- CONTACT -->
  <div class="row">
    <div class="col-12 py-5">

      <div class="row">
      	<div class="col-md-4">
        	<h2 class="mb-3">
            CONTACT 
            <a class="text-white ml-2" href="{{ site.instagram }}" target="_blank"><i class="fab fa-instagram"></i></a>
            <a class="text-white ml-2" href="{{ site.facebook }}" target="_blank"><i class="fab fa-facebook"></i></a>
          </h2>
          <div>{{ site.email }}</div>
      	</div>
      	<div class="col-md-4">
      		<h3 class="my-2">{{ site.data.authors[0].name }}</h3>
					<div>{{ site.data.authors[0].fone }}</div>
      	</div>
        <div class="col-md-4">
          <h3 class="my-2">{{ site.data.authors[1].name }}</h3>
          <div>{{ site.data.authors[1].fone }}</div>
        </div>
      </div>
    </div>
	<small class="d-block w-100 text-center">
		Design et développement par <a href="https://nicolasjouanno.com" target="_blank" class="text-white">Nicolas Jouanno</a>
	</small>
  </div>
</div>
