<header class="row">
  <carousel
    v-for="slide in slides"
    v-bind:slide="slide">
  </carousel>
  <div id="slider" class="col-12 bg-1">
    <!-- MENU 
    Bio, Suivi, Prestations, Stages, Instagram, Facebook
    -->
    <nav class="text-white py-5">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link text-white btn" href="#bio">Bio</a>
        </li> 
        <li class="nav-item">
          <a class="nav-link text-white btn" href="#suivi">Suivi</a>
        </li> 
        <li class="nav-item">
          <a class="nav-link text-white btn" href="#prestations">Prestations</a>
        </li> 
        <li class="nav-item">
          <a class="nav-link text-white btn" href="#stages">Stages</a>
        </li> 
        <li class="nav-item ml-auto">
          <a class="nav-link text-white btn" href="#"><i class="fab fa-instagram"></i></a>
        </li>  
        <li class="nav-item">
          <a class="nav-link text-white btn" href="#"><i class="fab fa-facebook"></i></a>
        </li>                             
      </ul>
    </nav>                
  </div>
</header>
