<!doctype html>
<html lang="{{ page.version }}">
  <head>

    {% include head.html %}

  </head>

  <body>

      <div id="app" class="container-fluid ">

        <!--
        HEADER
        --> 
        {% include header.html %}

        <main role="main" class="row">

          <div class="col-12">

            {{ content }}

          </div>
          
        </main>

        <!-- FOOTER
          legales + credits + menu
          Actu, Resultats, calendrier, Bio ,sponsors, Facebook, youtube
        -->
        <footer class="footer row">

          <div class="col-12 py-5 bg-dark">
            
            {% include footer.html %}

          </div>

        </footer>

      </div> <!-- /container -->

    <!-- FONTAWESOME
    ================================================== 
    -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
    <!-- VUEJS
    ================================================== 
    -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!-- Global JavaScript
    ==================================================
    -->
    <script src="{{ site.url }}/assets/js/vue-carousel.min.js"></script>
    <script src="{{ site.url }}/assets/js/global.js"></script>
  </body>
</html>
