.btn-primary {
    border: var(--color-primary) !important;
    background-color: var(--color-primary) !important;
    font-weight: 700 !important;
    font-size: 1.5rem !important;
    color: var(--color-dark) !important;
  }
  
.btn-secondary {
    border: var(--color-secondary) !important;
    background-color: var(--color-secondary) !important;
    font-weight: 700 !important;
    color: var(--color-dark) !important;
}